# development | production
APP_ENV=development
APP_PORT=8080
APP_GLOBAL_PREFIX=/api/v1
APP_ALLOWED_ORIGIN=http://localhost:3000

# JWT
JWT_SECRET_KEY=supercoolsecretkey
JWT_ACCESS_TOKEN_TTL=30m
JWT_REFRESH_TOKEN_TTL=336h

# OAUTH
### GOOGLE
GOOGLE_OAUTH_ENABLED=true
GOOGLE_CLIENT_ID=clientid
GOOGLE_CLIENT_SECRET=clientsecret
GOOGLE_REDIRECT_URL=http://localhost:8080/api/v1/auth/google/callback
### GITHUB
GITHUB_OAUTH_ENABLED=true
GITHUB_CLIENT_ID=clientid
GITHUB_CLIENT_SECRET=clientsecret
GITHUB_REDIRECT_URL=http://localhost:8080/api/v1/auth/github/callback
### YANDEX
YANDEX_OAUTH_ENABLED=true
YANDEX_CLIENT_ID=clientid
YANDEX_CLIENT_SECRET=clientsecret
YANDEX_REDIRECT_URL=http://localhost:8080/api/v1/auth/yandex/callback

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supercoolpassword
POSTGRES_DB=backend_db

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=supercoolpassword